<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="icon" type="image/png" sizes="10x10" href="/assets/img/favicon.jpg">
        <title>Document</title>
       
       
    </head>
    <body>
        <a href="http://127.0.0.1:3000/filedownload/test.txt">
            <h1>hello you.</h1>
        </a>
        <a href="http://127.0.0.1:3000/imagedownload/head.jpg">
            <h1>Download LongMarch-headicon</h1>
        </a>
        <a href="http://127.0.0.1:3000/getimage/head.jpg">
            <h1>Download LongMarch-headicon</h1>
        </a>
    </body>
</html>
